<h3>Post Form</h3>

<form action="<%= posts_path %>" method="POST">
  <label>Post title:</label>
  <input type="text" name="post[title]" id="post_title"><br>
  
  <label>Post description:</label>
  <textarea name="post[description]" id="post_description"></textarea><br>
  
  <input type="submit" value="Submit Post">
</form>

<%= params.inspect %>